services:
  dockge:
    image: louislam/dockge:1
    restart: unless-stopped
    ports:
      - 8082:5001
    volumes:
      - /run/user/1001/podman/podman.sock:/var/run/docker.sock
      - ./data:/app/data
      # Stacks Directory
      # ⚠️ READ IT CAREFULLY. If you did it wrong, your data could end up writing into a WRONG PATH.
      # ⚠️ 1. FULL path only. No relative path (MUST)
      # ⚠️ 2. Left Stacks Path === Right Stacks Path (MUST)
      - /opt/stacks:/opt/stacks
    environment:
      # Tell Dockge where to find the stacks
      - DOCKGE_STACKS_DIR=/opt/stacks
      - DOCKER_HOST=unix:///var/run/docker.sock
